<%= form_for(@map_worker) do |f| %>
  <% if @map_worker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@map_worker.errors.count, "error") %> prohibited this map_worker from being saved:</h2>

      <ul>
      <% @map_worker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :order %><br />
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :worker_id %><br />
    <%= f.number_field :worker_id %>
  </div>
  <div class="field">
    <%= f.label :match_id %><br />
    <%= f.number_field :match_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
